<%- include('templates/header.ejs') %>

<div class="flex justify-center items-center p-5 text-blue-700 ">
    <h1 class="text-5xl self-center">Welcome to the Home Page</h1>
</div>








<%- include('templates/footer.ejs') %>